*{
	margin: 0px auto;
	padding: 0px;
	font-family: "georgia", serif;
}

.container{
	width: 900px;
	border: 3px dotted green;
	margin-top: 20px;
	padding: 20px;
}
	h1{
		margin-left: 350px;
	}

	.headshot, .intro{
		display: inline-block;
		vertical-align: top;
	}

		.headshot{
			margin-top: 10px;
			width: 200px;
			height: 225px;
		}

		.intro{
			width: 600px;
			margin: 50px 0px 0px 40px;
		}


	.main{
		background-image:url('background.png');
		width: 900px;
		height: 504px;
		margin-top: 20px;
		padding-top: 20px;
	}

	h2{
		margin: 20px 0px 0px 20px;
		color: white;
	}

		.links, .project_name, a{
			margin-left: 30px;
			color: white;
		}

		.projects{
			margin-left: 10px;
			color: white;
		}
			

